body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(167, 167, 167);
    padding-left: 10px;
    padding-right: 10px;
}

#navbar-right-side {
    display: flex;
    align-items: center;
}

#logout-button {
    margin-left: 10px;
    height: 50%;
}

#login-form {
    background-color: rgb(135, 160, 181);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#login-form input {
    margin: 5px;
}


.exam {
    border: 2px solid grey;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    transition: background-color 0.1s ease-in-out;
    display: flex;
    justify-content: space-between;
}

.exam:hover {
    background-color: antiquewhite;
}


.mine {
    background-color: rgb(116, 191, 116);
}