body {
    font-family: 'Times New Roman', Times, serif;
}

#login-form {
    background-color: rgb(135, 160, 181);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#login-form input {
    margin: 5px;
}